@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-link {
  color: rgb(112, 76, 182);
}

.node,
.node-children {
  margin: 5px 0;
}

.node-children {
  list-style-type: none;
}

.btn {
  border-style: none;
  border-radius: 2px;
  font-weight: 800;
  padding: 3px 9px;
}

.btn-remove {
  background: linear-gradient(
    180deg,
    rgba(255, 115, 115, 1) 10%,
    rgba(253, 29, 29, 1) 85%
  );
  color: #fff;
}

.btn-counter {
  background: linear-gradient(
    0deg,
    rgb(74 68 156) 11%,
    rgba(79, 162, 255, 1) 100%
  );
  color: #fff;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
